<h3>Gestione Staff</h3>

<div class="btn-box">
  <button mat-raised-button color="accent" (click)="openStaffDialog(null)">
    <mat-icon>add</mat-icon>
    Aggiungi Staff
  </button>
  <button mat-raised-button color="accent" (click)="showHideStaff()">
    <mat-icon>{{ showHideStaffIcon }}</mat-icon>
    {{ showHideStaffLabel }}
  </button>
</div>

<div class="staff-container" *ngIf="showStaff">

  <div class="box" *ngFor="let staff of staffList" #box>
    <div class="bg-img" [ngStyle]="changeBackground(staff.image)"></div>
    <div class="portrait" [ngStyle]="setHeight(box.clientHeight)">
      <img src="{{ staff.portrait }}" />
    </div>
    <article>
      <h1>{{ staff.name }}</h1>
      <h2>{{ staff.activity }}</h2>
      <p>{{ staff.description }}</p>
    </article>

    <button mat-raised-button color="accent" class="btn-open" (click)="openStaffDialog(staff)">
      <mat-icon>edit</mat-icon>
      Modifica
    </button>
  </div>

</div>