<footer>
  <div>
    <div class="article">
      <div>
        <h3>Info</h3>
        <p itemprop="name">A.S.D. Fitness Point Giaveno</p>
        <p itemprop="vatNumber">C.F. 95628120016</p>
        <p itemprop="telephone">Telefono: 011 9376341</p>
      </div>
    </div>

    <div class="article">
      <div>
        <h3>Contatti</h3>
        <p id="_address2" itemprop="address" itemtype="http://schema.org/PostalAddress"></p>
        <p itemprop="streetAddress">Via Rametti, 1 bis</p>
        <p itemprop="postalCode">10094</p>
        <p itemprop="addressCountry">Giaveno (To), Italy</p>
      </div>
    </div>

    <div class="article">
      <div>
        <h3>Orario</h3>
        <p>Dal Lunerdì al Venerdì 09:30-22:00</p>
        <p>Sabato 10:00-17:00</p>
        <p>Domenica 10:00-12:30</p>
      </div>
    </div>
  </div>

  <hr />

  <span itemprop="developer">
    Developed by <a target="_blank" href="http://www.linkedin.com/pub/danny-cuttaia/79/374/aa9?domainCountryName=&csrfToken=ajax%3A8146604676629955525">Cuttaia
      Danny</a>
  </span>

</footer>