<h3>Gestione News</h3>

<div class="message" *ngIf="showMsg">
    {{message}}
</div>

<div class="btn-box">
    <button mat-raised-button color="accent" (click)="openNewsDialog(null)">
        <mat-icon>add</mat-icon>
        Aggiungi News
    </button>
    <button mat-raised-button color="accent" (click)="showHideNews()">
        <mat-icon>{{ showHideNewsIcon }}</mat-icon>
        {{ showHideNewsLabel }}
    </button>
</div>
    
<div class="news-container" *ngIf="showNews">

    <div class="news" *ngFor="let news of newsList">
        <mat-card class="box">

            <div *ngIf="checkEmpty(news.image)" class="bg-image" [ngStyle]="loadBackground(news.image)"></div>

            <iframe *ngIf="checkEmpty(news.video)" class="vid-frame" [src]="(embedUrl + news.video) | safe" 
                frameborder="0" allowfullscreen>
            </iframe>

            <div class="text">
                <h4>{{ news.title }}</h4>

                <span class="time">
                    <i class="material-icons">calendar_today</i>
                    {{ news.date | date: "dd MMMM yyyy" }}
                </span>
                
                <div class="desc">
                    <p>{{ (news.desc.length>80) ? (news.desc | slice:0:80)+'...' : (news.desc) }}</p>
                </div>

                <button mat-raised-button color="accent" class="btn-open"
                    (click)="openNewsDialog(news)">
                    <mat-icon>edit</mat-icon>
                    Modifica
                </button>
            </div>
        </mat-card>
    </div>

</div>