<header>
  <nav class="control-menu">
    <ul>
      <li [ngClass]="(controlMenuSelected == 'table') ? 'selected' :''" routerLink="./table" (click)="updateSelector('table')">
        <span>Tabella Corsi</span>
      </li>
      <li [ngClass]="(controlMenuSelected == 'activity') ? 'selected' :''" routerLink="./activity" (click)="updateSelector('activity')">
        <span>Attività</span>
      </li>
      <li [ngClass]="(controlMenuSelected == 'news') ? 'selected' :''" routerLink="./news" (click)="updateSelector('news')">
        <span>News</span>
      </li>
      <li [ngClass]="(controlMenuSelected == 'staff') ? 'selected' :''" routerLink="./staff" (click)="updateSelector('staff')">
        <span>Staff</span>
      </li>
      <li [ngClass]="(controlMenuSelected == 'info') ? 'selected' :''" routerLink="./info" (click)="updateSelector('info')">
        <span>Info e Slogan</span>
      </li>
      <li [ngClass]="(controlMenuSelected == 'gallery') ? 'selected' :''" routerLink="./gallery" (click)="updateSelector('gallery')">
        <span>Galleria</span>
      </li>
      <li>
        <p>Benvenuto <strong>{{ account }}</strong></p>
        <button mat-button class="logout" (click)="doLogout()">Logout</button>
      </li>
    </ul>
  </nav>

  <button mat-button class="open-control-menu" (click)="sideControlMenu.open()">
    Pannello di Controllo
    <mat-icon>settings</mat-icon>
  </button>
</header>