.go-top {
    position: fixed;
    z-index: 99;
    border: none; 
    outline: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    bottom: 10px;
    right: 10px;
    background-color: rgba(33, 33, 33, 0.6);
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
.go-top:hover {
    background-color: rgba(245, 245, 245, 0.6);
}
.go-top:hover > div {
    border-color: rgba(255, 86, 34, 0.6);
}
.go-top > div {
    display: block;
    margin: auto;
    border-left: 2px solid;
    border-top: 2px solid;
    border-color: rgba(245, 245, 245, 0.6);
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    margin-top: 45%;
    -webkit-transition: border-color 0.5s;
    -moz-transition: border-color 0.5s;
    transition: border-color 0.5s;
}

/* ##### Start SIDE MENU ##### */
.sidenav-container {
    position: fixed;
    height: 100%;
    width: 45%;
    background-color: #F5F5F5;
    overflow: hidden;
}
.sidenav-menu {
	position: relative;
    height: calc(100% - 70px);
    width: 100%;
    overflow-y: auto;
    /*background-color: #191819;
    height: 100%;*/
}
.sidenav-menu ul {
    position:relative;
    height:100%;
	width:100%;
	margin: 0;
	padding: 0;
}
.sidenav-menu  li {
	display: block;
	position: relative;
	width: 100%;
	height: 70px;
	margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(255, 86, 34, 0.4);
}
.sidenav-menu li a {
	display: block;
	width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	line-height: 70px;
	text-align: center;
    color: #FF5722;
	-webkit-transition: background-color 0.5s, color 0.5s;
	-moz-transition: background-color 0.5s, color 0.5s;
	transition: background-color 0.5s, color 0.5s;
}
.sidenav-menu li a:hover {
	background-color: #FF5722;
	color: #F5F5F5 !important;
	font-weight: bold;
}
.sidenav-menu li .selected {
    /*color: #F5F5F5 !important;*/
    color: #161616 !important;
	font-size: 18px;
}

/* Start Close Menu */
.close-menu { 
    position: relative;
    /*height: 50px !important;*/
    height: 70px !important;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 86, 34, 0.4);
}
.close-menu > span {
    border: solid #161616;
    border-width: 0 4.5px 4.5px 0;
    display: inline-block;
    padding: 9px;
    transform: rotate(-45deg);
    position: absolute;
    /*top: 25%;*/
    top: 32%;
    left: 5px;
    transition: border-color 500ms;
}
.close-menu:hover > span {
    border-color: #FF5722;
    transition: border-color 500ms;
}

.logo {
	display: block;
    width: 150px;
    margin: 0 auto;
    padding-top: 5px;
}
.logo:hover {
	opacity:0.7;
}
.logo img {
	max-height: 60px;
}

@media screen 
and (max-width: 455px) {
    .logo {
        width: 100px !important;
        padding-top: 10px !important;
    }
    .logo img {
        max-height: 45px !important;
    }
    .close-menu > span {
        border-width: 0 4px 4px 0 !important;
        padding: 8px !important;
    }
}
/* End Close Menu */

/* ##### End SIDE MENU ##### */