h3 {
    margin: 0 auto;
    padding: 0;
    color: #F44336;
    font-size: 2.5em;
    font-weight: bold;
    padding-bottom: 2%;
    text-transform: uppercase;
    font-variant: all-small-caps;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.btn-box {
    display: block;
    clear: both;
    width: 100%;
}
.btn-box button {
    display: block;
    margin: 1em;
}

.message {
    padding-top: 20px;
    margin: 0px;
    margin-bottom: -20px;
    text-align: center;
    font-size: 1.5em;
}

.box-buttons {
    position: absolute;
    top: 5px;
    left: 0;
}
.box-buttons button {
    margin-right: 5px;
}